@keyframes circle {
  from {
    -webkit-transform: rotate(0deg) translate(-155px) rotate(0deg);
    transform: rotate(0deg) translate(-155px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-155px) rotate(-360deg);
    transform: rotate(360deg) translate(-155px) rotate(-360deg);
  }
}
@keyframes textSlider {
  0% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  40% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
  50% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  90% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(25%);
    transform: translateY(25%);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  50%{
    -webkit-transform: translateY(2%);
    transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}
@keyframes background-in {
  from {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes text-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes text-out {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes float-y {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
  }
  100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}